<head><title>thousoondth</title></head>

<body style="background-color: red">
    <canvas class="thousoondthCanvas"></canvas>
		<!-- // <script src="basicShapes.js"></script>
		// <script src="thousoondth.js"></script>
		// <script src="magicEdge.js"></script>
    // <script src="animate.js"></script>
		// <script src="execute.js"></script>  -->
    <%= javascript_include_tag "thousoondth/basicShapes" %>
    <%= javascript_include_tag "thousoondth/thousoondth" %>
    <%= javascript_include_tag "thousoondth/magicEdge" %>
    <%= javascript_include_tag "thousoondth/animate" %>
    <%= javascript_include_tag "thousoondth/execute" %>
</body>
