<head><title>thousoondth</title></head>

<body style="background-color: red">
  <canvas class="thousoondthCanvas"></canvas>
  <%= javascript_include_tag "thousoondth/basicShapes" %>
  <%= javascript_include_tag "thousoondth/thousoondth" %>
  <%= javascript_include_tag "thousoondth/magicEdge" %>
  <%= javascript_include_tag "thousoondth/animate" %>
  <%= javascript_include_tag "thousoondth/execute" %>
</body>
