<!DOCTYPE html>
<html lang="en">
<body>
  <div class="the-container">
    <div class="a-row name-row">
      <div class="name">
        DOUGLAS BLUMEYER
      </div>
    </div>
    <div class="a-row info-row">
      <div class="info row-section">
        <div class="info-text">
          @gmail.com<br>
          San Francisco<br>
          847.922.1483
        </div>
      </div>
      <div class="photo row-section">
        <%= image_tag "good_one_small.jpg", width: "100%" %>
      </div>
    </div>
    <div class="a-row code-links-row">
      <div class="cv row-section">
        <%= link_to "", image_path('Douglas_Blumeyer_2015_resume.pdf'), target: "_blank", class: "fa fa-file" %>
      </div>
      <div class="gh row-section">
        <a href="https://github.com/DougBlumeyer" target="_blank">
          <i class="fa fa-github-square"></i>
        </a>
      </div>
      <div class="li row-section">
        <a href="https://linkedin.com/in/douglasblumeyer" target="_blank">
          <i class="fa fa-linkedin-square"></i>
        </a>
      </div>
      <div class="rb row-section">
        <a href="http://rainbowbbles.com" target="_blank">
          <%= image_tag "rainbowbbles-screenshot.jpg", width: "100%" %>
        </a>
      </div>
      <div class="dt row-section">
        <a href="http://drem.pt" target="_blank">
          <div class="dt-wrapper">
            <div class="dt-text"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="a-row code-row">
      <div class="category code row-section">code</div>
      <!-- <div class="why"></div> -->
    </div>
    <div class="a-row music-links-row">
      <div class="demos row-section">
        <canvas id="myCanvas"></canvas>
        <%= javascript_include_tag "dougstooth/OrbitControls" %>
        <%= javascript_include_tag "dougstooth/OBJLoader" %>
        <script> iHateYou = '<%= asset_path 'jhgjh.unity_55.obj' %>';	</script>
        <%= javascript_include_tag "dougstooth/dougstooth" %>
      </div>
      <div class="sc row-section">
        <a href="https://soundcloud.com/cmloegcmluin" target="_blank">
          <i class="fa fa-soundcloud"></i>
        </a>
      </div>
      <div class="gr row-section">
        <a href="http://geometrhythm.com" target="_blank">
          <%= image_tag "geometrhythm_logo.png", width: "100%" %>
        </a>
      </div>
    </div>
    <div class="a-row vr-music-row">
      <div class="category vr row-section">VR</div>
      <div class="category music row-section">music</div>
    </div>
    <div class="a-row misc-row">
      <div class="category film row-section">
        <div class="film-text">
          film
        </div>
      </div>
      <div class="vm row-section">
        <a href="https://vimeo.com/douglasblumeyer" target="_blank">
          <i class="fa fa-vimeo-square"></i>
        </a>
      </div>
      <div class="blog row-section">
        <a href="http://cmloegcmluin.com" target="_blank">
          <%= image_tag "four_eyes.png", width: "100%" %>
        </a>
      </div>
      <div class="category words row-section">
        words
      </div>
      <div class="fmi row-section">
        <a href="https://www.dropbox.com/s/kqd5emgc41b1ap4/Fun%20Musical%20Ideas%20-%20v1.0%20-%20July%202014.pdf?dl=0" target="_blank">
          <%= image_tag "FMI_screenshot.jpg", width: "100%" %>
        </a>
      </div>
    </div>
  </div>

  <!-- <%= link_to image_tag("Dougstooth.png"), dougstooth_index_path, class: "img_lnk" %>
  <%= link_to image_tag("othoundsto_screenshot.png"), othoundsto_index_path, class: "img_lnk" %>
  <%= link_to image_tag("thousoondth - final.png"), thousoondth_index_path, class: "img_lnk" %>

  <h1>What's up?</h1>
  <br>Would you like to work together on something?
  I'm looking forward to hearing from you.<br><br>

   -->

</body>
</html>
