<!DOCTYPE html>
<html lang="en">


  <body data-spy="scroll" data-offset="0" data-target="#theMenu">

	<!-- Menu -->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo"><a href="index.html#home">D.Blumeyer</a></h1>
      <%#= fa_icon "camera-retro" %>
      <!-- <span class="fa fa-camera-retro"></span> -->
			<i class="icon-remove menu-close"></span></i>
			<a href="#home" class="smoothScroll">Home</a>
			<a href="#about" class="smoothScroll">About</a>
			<a href="#portfolio" class="smoothScroll">Portfolio</a>
			<a href="#contact" class="smoothScroll">Contact</a>
			<a href="#"><i class="icon-facebook"></i></a>
			<a href="#"><i class="icon-twitter"></i></a>
			<a href="#"><i class="icon-dribbble"></i></a>
			<a href="#"><i class="icon-envelope"></i></a>
		</div>

		<!-- Menu button -->
		<!-- <div id="menuToggle"><i class="glyphicon glyphicon-menu-hamburger"></i></span></div> -->
    <!-- <i class="glyphicon glyphicon-plane"></i> -->
    <!-- <div id="menuToggle"><i class="icon-bars"></i></span></div> -->
    <!-- <div id="menuToggle"><%= fa_icon "bars" %></div> -->
    <div id="menuToggle"><i class="fa fa-bars"></i></div>
	</nav>



	<!-- ========== HEADER SECTION ========== -->
	<section id="home" name="home"></section>
	<div id="headerwrap">
		<div class="container">
			<div class="logo">
        <%#= image_tag "logo.png"%>
			</div>
			<br>
			<div class="row" id="splash">
        <br><br>  <br><br>  <br><br>  <br><br>
				<h1>DOUGLAS BLUMEYER</h1>
				<h3>web developer | VR pioneer | multimedia artist</h3>

				<br>
				<br>
				<div class="col-lg-6 col-lg-offset-3">

				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /headerwrap -->



	<!-- ========== ABOUT SECTION ========== -->
	<section id="about" name="about"></section>
	<div id="f">
		<div class="container">
			<div class="row">
				<h3>ABOUT ME</h3>
				<!-- <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p> -->
        <br>
        <%= image_tag "good_one.JPG", height: "50%", width: "50%" %>
        <br>S
				<!-- INTRO INFORMATIO-->
				<div class="col-lg-6 col-lg-offset-3">
					<p>I build inspiring web experiences.</p>
					<p>My passion is in bridging the technical and aesthetic: finding the music in math, the code in poetry, and vice versa.</p>
          <p>I also have a thing for solving tough problems and teaching others how to approach them.</p>
					<p>I'm based in San Francisco, and I'm available for full-time work.</p>
					<p><button type="button" class="btn btn-warning">MESSAGE ME</button></p>
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /f -->


	<!-- ========== CAROUSEL SECTION ========== -->
	<section id="portfolio" name="portfolio"></section>
	<div id="f">
		<div class="container">
			<div class="row centered">
				<h3>RECENT PROJECTS</h3>

				<div class="col-lg-6 col-lg-offset-3">
          <%= image_tag "geometrhythm-screenshot.jpg", width: "100%" %>
					<br><a href="http://www.geometrhythm.com" target="_blank">Geometrhythm</a>
          <%= image_tag "rainbowbbles-screenshot.jpg", width: "100%" %>
          <br><a href="http://www.rainbowbbles.com" target="_blank">Rainbowbbles</a>
          <%= image_tag "activerecordlite-screenshot.jpg", width: "100%" %>
          <br><a href="https://github.com/DougBlumeyer/IntegratedActiveRecordLiteAndRailsLite" target="_blank">ActiveRecordLite + RailsLite</a>
				</div><!-- col-lg-8 -->
			</div><!-- row -->
		</div><!-- container -->
	</div>	<!-- f -->

	<!-- ========== CONTACT SECTION ========== -->
	<section id="contact" name="contact"></section>
	<div id="f">
		<div class="container">
			<div class="row">
				<h3>CONTACT ME</h3>

				<div class="col-lg-6 col-lg-offset-3">
					<p>200 Dolores St. #12<br/>San Francisco, CA 94103<br/>847.922.1483</p>
					<p>douglas.blumeyer@gmail.com</p>
					<p><button type="button" class="btn btn-warning">MESSAGE ME</button></p>
				</div>
			</div>
		</div>
	</div>

  <%#= javascript_include_tag 'main' %>
  <!-- // <script src="../assets/javascripts/main.js"></script> -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<!-- // <script src="../assets/javascripts/classie.js"></script>
  //   <script src="../assets/javascripts/bootstrap.min.js"></script>
  //   <script src="../assets/javascripts/smoothscroll.js"></script>

  //   <script src="http://blacktie.co/adpacks/demoad.js"></script> -->
  <script>
    $('#menuToggle, .menu-close').on('click', function(){
      console.log("howdy pahdnah jajaja");
      // debugger
      $('#menuToggle').toggleClass('active');
      $('body').toggleClass('body-push-toleft');
      $('#theMenu').toggleClass('menu-open');
    });
  </script>
</body>
</html>
