<!DOCTYPE html>
<html lang="en-us">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>othoundsto</title>

</head>

<body style="background-color: white">
    <canvas class="canvas"></canvas>
		<%= javascript_include_tag "othoundsto_song/canvas" %>
		<%= javascript_include_tag "othoundsto_song/keyboard" %>
		<%= javascript_include_tag "othoundsto_song/rotation" %>
		<%= javascript_include_tag "othoundsto_song/collision" %>
		<%= javascript_include_tag "othoundsto_song/audio" %>
		<%= javascript_include_tag "othoundsto_song/houndstooth" %>
		<%= javascript_include_tag "othoundsto_song/song" %>
</body>
</html>
